<mat-tab-group>

  <mat-tab>
     <ng-template mat-tab-label>
       <img class="icon" src="{{urlImage}}player.png">
     </ng-template>
     <div class="row"> <!-- First Row -->
        <div class="col s12 m12 l12">  <!-- Left Column -->
          <profile-info></profile-info>
        </div>
     </div>
   </mat-tab>

   <mat-tab>
      <ng-template mat-tab-label>
        <img class="icon" src="{{urlImage}}bars.png">
      </ng-template>
      <div class="row"> <!-- First Row -->
         <div class="col s12 m12 l12">  <!-- Left Column -->
           <profile-stats></profile-stats>
         </div>
      </div>
   </mat-tab>

   <mat-tab>
      <ng-template mat-tab-label>
        <img class="icon" src="{{urlImage}}caterpie.png">
      </ng-template>
      <div class="row"> <!-- First Row -->
         <div class="col s12 m12 l12">  <!-- Left Column -->
           <profile-pokemon></profile-pokemon>
         </div>
      </div>
   </mat-tab>

   <mat-tab>
      <ng-template mat-tab-label>
        <img class="icon" src="{{urlImage}}valor.png">
      </ng-template>
      <div class="row"> <!-- First Row -->
         <div class="col s12 m12 l12">  <!-- Left Column -->

         </div>
      </div>
   </mat-tab>

</mat-tab-group>
