<div class="center loading" *ngIf="loading">  <!-- Only when Loading... -->
    <img class="responsive-img" src="https://i.giphy.com/media/l0HlLMeBgzK2UuHVS/giphy.webp">
  <p class="center">
    <span class="bold">LOADING... PLEASE WAIT</span>
  </p>
</div>

<div class="moves" *ngIf="filteredMoveList">
  <div class="sticky">  <!-- Sticky Search Bar -->
        <div class="input-field center top">  <!-- Key Up Event -->
            <input type="text" name="searchValue"
            (keyup)="onKeyUp($event)" [(ngModel)]="searchValue"
            placeHolder="Search a Pokémon Move..">
        </div>
  </div>

  <div class="row center move animated slideInUp">
        <span (click)="navigate(move)" *ngFor="let move of filteredMoveList"
        class="type {{move.type}}">{{move.name}}</span>  <!-- Move Name -->
  </div>
</div>
