.header {
  margin-bottom: 5px;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

.item {
  width: 60px;
  padding: 4px;
}

.card {
  max-width: 300px;
  margin: 20px auto auto auto;
  min-height: 275px;
}

.top {
  margin-top: 10px;
}

mat-card-subtitle {
  text-align: left;
}

.row {
  margin-top: 25px;
}

.header-image {
  background-image: url('../../../../../../assets/icons/items64.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 0;
}

.items {
  width: 100%;
  margin: 20px auto auto auto;
}
