
    <mat-card class="card">
      <img class="pkm-img" src="{{urlPokemon}}{{pokemon.picture}}.png"/>
      <mat-card-header class="header">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="bold">{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle>{{pokemon.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="top">

        <h5>Recommened Items</h5>
            <div class="row center items">
                <div class="col s6 m6 l6">
                      <div>{{pokemon.item}}</div>
                      <img src="{{urlImage}}{{pokemon.item_picture}}.png"/>
                </div>
                <div class="col s6 m6 l6">
                      <div>{{pokemon.item2}}</div>
                      <img src="{{urlImage}}{{pokemon.item2_picture}}.png"/>
                </div>
            </div>

      </mat-card-content>
    </mat-card>
