<app-loading *ngIf="!filteredTrainers"></app-loading>

<div class="trainerList" *ngIf="filteredTrainers">

  <div class="sticky">  <!-- Sticky Search Bar -->
        <div class="input-field center top">  <!-- Key Up Event -->
            <input type="text" name="searchValue"
            (keyup)="onKeyUp($event)" [(ngModel)]="searchValue"
            placeHolder="Search a Trainer..">
        </div>
  </div>

  <h3>Trainer List</h3>
      <blockquote>Here is a list of all Trainers that have been registered
        in "<span class="bold">Pocketown The Game</span>"
      </blockquote>

  <mat-card *ngFor="let trainer of filteredTrainers" class="card marginTop">  <!-- TRAINER CARDS -->

      <div class="col s10 m10 l10">
        <h5 class="truncate">{{trainer.name}}</h5>
      </div>

      <div class="col s2 m2 l2">  <!-- Online Offline? -->
          <img *ngIf="trainer.online" class="right online" src="{{urlImage}}online.png"/>
          <img *ngIf="!trainer.online" class="right online" src="{{urlImage}}offline.png"/>
      </div>

    <div class="row center">
      <div class="col s6 m6 l3 center">
          <p><img class="avatar" (click)="navigateTrainer(trainer)"
            src="{{urlImage}}avatar/{{trainer.avatar}}.png"/></p>
      </div>
      <div class="col s6 m6 l3 center">
          <p>Server: <span class="bold">{{trainer.server}}</span></p>
          <p>Guild: <span class="bold">{{trainer.guild}}</span></p>
      </div>
      <div *ngIf="trainer.team !=''" class="col s12 m12 l6 center team">  <!-- Trainer Team -->
          <span *ngFor="let pokemon of trainer.team">
              <img class="pokemonTeam" (click)="navigatePokemon(pokemon.picture)"
              src="{{urlImage}}pokemon/{{pokemon.picture}}.png"/>
          </span>
      </div>
      <div class="col s12 m12 l6 center team" *ngIf="trainer.team == ''">
        No Pokémon team
      </div>

    </div>

  </mat-card>
</div>
