.trainerList {
  margin-bottom: 60px;
}

.sticky {
  top: 60px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  width: 100%;
  background: white;
}

.online {
  width: 20px;
  display: inline;
}

.top {
  margin-top: -10px;
}

.marginTop {
  margin-top: 20px;
}

.avatar {
  width: 70px;
}

.avatar:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.avatar:focus{
  cursor: pointer;
  filter: brightness(1.2);
}

.card {
  max-width: 98%;
  margin: 10px auto;
  padding: 25px;
}

.l7 {
  margin-top: 5px;
}

blockquote {
  border-left-color: orange;
  margin-bottom: 30px;
}

.pokemonTeam {
  width: 40px;
  margin: 0 auto;
  padding: 2px;
}

.pokemonTeam:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

input[type=text]:not(.browser-default) {
  text-align: center;
  margin: 0;
}

.team {
  margin-top: 20px;
}

@media (max-width: 600px){
  .team {
    margin-top: 10px;
  }
}
