.top {
  margin-top: 40px;
}

.bold {
  font-size: 1.3em;
  text-shadow: 1px 1px 2px black;
}

.type{
  padding: 4px 8px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin:3px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: .9em!important;
}

.actions {
  margin-top: 25px;
}

button {
  margin: auto 20px;
}

.Any:not(.type) {
  background: none;
  color:grey;
}

.Tiny {color:#bbdefb}
.Little {color:#64b5f6}
.Adult {color:#2196f3}
.Mega {color:#1976d2}
.R2 {color:#0d47a1}
