span {
  margin: 0 2px;
}

.sticky {
  top: 60px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  width: 100%;
  background: white;
}

.pokedex {
  max-width: 900px;
  margin:0 auto;
}

.bottom {
  padding-bottom: 70px;
}

.pokemon {
  width: 56px;
  height: 63px;
}

.pokemon:hover {
  cursor:pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.loading {
position: absolute;
text-align: center;
top:45%;
left:56%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
margin-top: 10px;
}

.responsive-img {
  min-width: 90%;
}

@media (max-width: 1000px){
  .responsive-img {
    min-width: 130%;
  }
}

@media (max-width: 600px){
  .loading {
  left:50%;
  margin-left: 0;
  }

  .responsive-img {
    margin-left: -35px;
  }
}

input[type=text]:not(.browser-default) {
  text-align: center;
  margin: 0;
}

.top {
  margin-top: -10px;
}
