span {
  margin: 0 2px;
}

.pokemon:hover {
  cursor:pointer;
  filter: brightness(1.2);
}

.loading {
margin-top: 45px;
width: 100%;
}



.sticky {
  top:60px;
  position: sticky;
  z-index: 1000;
  width: 100%;
  background: white;
}

input[type=text]:not(.browser-default) {
  text-align: center;
  margin: 0;
}

.top {
  margin-top: -10px;
}
