<div class="row center loading" *ngIf="loading">  <!-- Only when Loading... -->
    <img class="responsive-img" src="https://media.giphy.com/media/l0HlLMeBgzK2UuHVS/giphy.gif">
  <p class="center">
    <span>LOADING...</span>
  </p>
</div>

<div class="row center" *ngIf="pokedex">  <!-- Only if We have a Pokedex -->
  <div class="sticky">  <!-- Sticky Search Bar -->
      <div class="container">
          <div class="input-field top">  <!-- Search BAR -->
              <input type="text" name="searchValue"
              (keyup)="onKeyUp($event)" [(ngModel)]="searchValue"
              placeHolder="Search a Pokémon..">
          </div>
      </div>
  </div>

  <div class=" animated slideInUp">  <!-- POKEDEX GRID -->
    <span *ngFor="let pokemon of filteredPokedex">
      <img (click)="navigate(pokemon)" class="pokemon" src="{{urlImage}}{{pokemon.picture}}.png"></span>
  </div>
</div>
