<app-loading *ngIf="!pokedex"></app-loading>

<div class="row center pokedex bottom" *ngIf="pokedex">  <!-- Only if We have a Pokedex -->

  <div class="sticky">  <!-- Sticky Search Bar -->
        <div class="input-field center top">  <!-- Key Up Event -->
            <input type="text" name="searchValue"
            (keyup)="onKeyUp($event)" [(ngModel)]="searchValue"
            placeHolder="Search a Pokémon..">
        </div>
  </div>

  <div class="animated slideInUp">  <!-- POKEDEX GRID -->
    <span *ngFor="let pokemon of filteredPokedex">
      <img (click)="navigate(pokemon)"
      class="pokemon" matTooltip="{{pokemon.name}}"
      src="{{urlImage}}{{pokemon.picture}}.png"></span>
  </div>
</div>  <!-- End of Angular IF -->
