span {
  margin: 0 2px;
}

.pokemon:hover {
  cursor:pointer;
  filter: brightness(1.2);
}

.loading {

position: absolute;
text-align: center;
top:48%;
left:55%;
transform: translate(-50%, -50%);
}



@media (max-width: 1000px){
  .responsive-img {
    min-width: 130%;
  }
}

@media (max-width: 600px){
  .loading {
  left:50%;
  }
}

.pokemon {
  width: 56px;
  height: 63px;
}

.sticky {
  top:60px;
  position: sticky;
  z-index: 1000;
  width: 100%;
  background: white;
}

input[type=text]:not(.browser-default) {
  text-align: center;
  margin: 0;
}

.top {
  margin-top: -10px;
}
