.header {
  margin-bottom: 5px;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

.zMove {
  width: 80%;
  margin: 10px auto auto auto;
}

.lessTop {
  margin-top: -10px;
}

.card {
  max-width: 300px;
  margin: 20px auto auto auto;
}

.top {
  margin-top: 10px;
}

mat-card-subtitle {
  text-align: left;
}

.row {
  margin-top: 10px;
}

.header-image {
  background-image: url('../../../../../../assets/icons/moves.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 0;
}
