.header {
  margin-bottom: 5px;
}

.mat-card-title {
  font-size: .8em;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

h5 {
  margin-bottom: 0;
}

.type{
  padding: 4px 8px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin:3px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: .9em!important;
}

.zMove {
  width: 80%;
  margin: -10px auto auto auto;
  border-radius: 4px;
}

.card {
  max-width: 350px;
  margin: auto;
  min-height: 430px;
  padding: 25px;
}

.family {
  position: absolute;
  bottom:12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.familiar {
  width: 30px;
  margin: 0 3px;
}

.mat-card {
  padding: 24px 24px 10px 24px;
}

.top {
  margin-top: 20px;
}

@media (min-width:599px) {
  .top {
    margin-top: 10px;
  }
}

mat-card-subtitle {
  text-align: left;
}


.header-image {
  background-image: url('../../../../../../assets/icons/moves.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 0;
}

.zName{
  color:black;
	background: #cdeb8e;
	background: -moz-linear-gradient(right, red 0%, yellow 100%);
	background: -webkit-linear-gradient(right, red 0%,yellow 100%);
	background: linear-gradient(to right, red , yellow);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );

}
