<mat-card class="card">
  <img class="pkm-img" src="{{urlImage}}{{pokemon.picture}}.png"/>
  <mat-card-header class="header">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="bold">{{pokemon.name}}</mat-card-title>  <!-- Pokemon Name -->
    <mat-card-subtitle>Moves</mat-card-subtitle>  <!-- Pokemon Description -->
  </mat-card-header>
  <mat-card-content class="top">

        <div class="row center">
            <div class="col s12 m12 l12">
                <p *ngFor="let move of moves"><span (click)="navigate(move)" [ngClass]="{'zName': move.z =='Z'}"
                  class="type {{move.type}}">{{move.name}}</span></p>  <!-- Move 1 -->
            </div>
        </div>

        <div class="row center family">    <!-- Familiars -->
            <span *ngFor="let familiar of family" (click)="goPokemon(familiar)">
              <img class="familiar" matTooltip="{{familiar.name}}"
              src="{{urlImage}}{{familiar.picture}}.png"/>
            </span>
        </div>

  </mat-card-content>
</mat-card>
