<div class="row">
  <div class="col s12 m2 l1 fixed">

    <ul class="mainList">
      <li class="bold"><a>{{ navTitles[0] }}</a></li> <!-- Database -->
      <li>
        <ul class="nestedList">
           <li><a [routerLink]="['pokedex']" routerLinkActive="active">Pokédex</a></li> <!-- Pokedex -->
           <li><a [routerLink]="['moves']" routerLinkActive="active">Moves</a></li> <!-- Moves -->
          <li><a [routerLink]="['held-items']" class="big" routerLinkActive="active">Held Items</a></li> <!-- Pokémon Items -->
        </ul>
       </li>
     </ul>

     <ul class="mainList">
       <li class="bold"><a>{{ navTitles[1] }}</a></li> <!-- Tools -->
       <li>
         <ul class="nestedList">
          <li><a [routerLink]="['laboratory']" routerLinkActive="active">Laboratory</a></li> <!-- Laboratory -->
         </ul>
        </li>
      </ul>

     <ul class="mainList">
       <li class="bold"><a>{{ navTitles[2] }}</a></li> <!-- Guides -->
       <li>
         <ul class="nestedList">
          <li><a [routerLink]="['guides/victory-road']"
                 routerLinkActive="active" class="big">Victory Road</a></li>
         </ul>
        </li>
      </ul>

      <ul class="mainList">
        <li class="bold"><a>{{ navTitles[3] }}</a></li> <!-- Guides -->
        <li>
          <ul class="nestedList">
           <li><a [routerLink]="['']"
                  routerLinkActive="active">Pocketown</a></li>
          <li><a [routerLink]="['trainers']"
                 routerLinkActive="active">Trainers</a></li>
          </ul>
         </li>
       </ul>

  </div>
</div>
