<div class="row">
  <div class="col s12 m2 l1 fixed">

    <ul class="mainList">
      <li class="bold"><a href="#">{{ navTitles[0] }}</a></li> <!-- Database -->
      <li>
        <ul class="nestedList">
           <li><a [routerLink]="['pokedex']" routerLinkActive="active">Pokédex</a></li>
        </ul>
       </li>
     </ul>

     <ul class="mainList">
       <li class="bold"><a href="#">{{ navTitles[1] }}</a></li> <!-- Tools -->
       <li>
         <ul class="nestedList">
            <li><a></a></li>
         </ul>
        </li>
      </ul>

     <ul class="mainList">
       <li><a href="#">{{ navTitles[2] }}</a></li> <!-- Formatos -->
       <li>
         <ul class="nestedList">
            <li><a></a></li>
         </ul>
        </li>
      </ul>

      <ul class="mainList">
        <li><a href="#">{{ navTitles[3] }}</a></li> <!-- Idiomas -->
        <li>
          <ul class="nestedList">
             <li><a></a></li>
          </ul>
         </li>
       </ul>

  </div>
</div>
