<button class="nav-Menu" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false">

  <button [routerLink]="['home']" routerLinkActive="active" mat-menu-item>
    <mat-icon svgIcon="pikachu"></mat-icon> <!-- Home -->
    <span>Home</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Database">
    <mat-icon svgIcon="database"></mat-icon> <!-- Database -->
    <span>Database</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Tools">
    <mat-icon svgIcon="tools"></mat-icon> <!-- Tools -->
    <span>Tools</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Guides">
    <mat-icon svgIcon="guides"></mat-icon> <!-- Guides -->
    <span>Guides</span>
  </button>

</mat-menu>

<mat-menu #Database="matMenu"> <!-- Database Menu -->
  <button [routerLink]="['pokedex']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="bulbasaur"></mat-icon>Pokédex
  </button>
  <button [routerLink]="['moves']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="move"></mat-icon>Moves
  </button>
</mat-menu>

<mat-menu #Tools="matMenu"> <!-- Tools Menu -->
  <button [routerLink]="['laboratory']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="laboratory"></mat-icon>Laboratory
  </button>
</mat-menu>

<mat-menu #Guides="matMenu"> <!-- Guides Menu -->
  <button [routerLink]="['guides/victory-road']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="victory-road"></mat-icon>Victory Road
  </button>
</mat-menu>
