.card {
  max-width: 350px;
  margin: auto;
  min-height: 430px;
  padding: 25px;
}

h5 {
  font-size: 1.3em;
}

.edit {
  color:orange;
  position: absolute;
  margin-left: 20px;
  margin-top: -3px;
}

.edit:hover{
  cursor: pointer;
  filter: brightness(.8);
  transform: rotate(10deg);
  transition: transform .5s;
}

.close {
  color:red;
}

.close:hover {
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 2s;
  overflow: hidden;
}

.team {
  margin-bottom: 15px;
  margin-top: 45px;
}

.buttons button {
  margin:auto 10px;
}

.pokemonTeam {
  width: 40px;
  margin: 0 auto;
}

.top {
  margin-top: 30px;
  padding-bottom: 0;
}

.pokemon {
  width: 65px;
  margin: 0 auto;
  display: block;
}

.row .col {
  padding: 0!important;
}

.pokemonTeam:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.noPokemon {
  margin-top: 40%;
  font-size: .8em;
}

.darkblue {
  color:darkblue;
  font-weight: bold;
}
