    <h4>Nature & Ability</h4>
      <div class="nature">
          <p>
            <span class="bold">{{pokemon.nature}}: </span>
            <span class="good">{{nature.good}}</span>
            <span class="bad"> {{nature.bad}}</span>
          </p>
          <p>
             <span class="bold">{{pokemon.nature2}}: </span>
             <span class="good">{{nature2.good}}</span>
             <span class="bad"> {{nature2.bad}}</span>
          </p>
          <p>Ability: <span class="bold">{{pokemon.ability}}</span></p>
      </div>
