.inline {
margin:0 auto;
}

.type{
  padding: 2px 2px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin:2px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: .7em!important;
}

.type:hover{
  filter: brightness(1.5);
  cursor: pointer;
  color:black;
}

.Any:hover {
  color: orange;
}
