.card {
  max-width: 350px;
  margin: auto;
  min-height: 410px;
  padding: 25px;
}

.pokemon {
  width: 65px;
  margin: 0 auto;
  display: block;
}

.pokemonTeam {
  width: 45px;
  margin: 0 auto;
  padding: 2px;
}

.bordered-feature-image {
		display: block;
		background: #fff url("../../../../../assets/images/bg05.png");
		padding: 3px;
		border-radius:5px;
		box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		margin: 0 auto 1.5em auto;
		outline: 0;
	}
