.overflow {
  overflow: hidden;
  margin-top: -20px;
}

img {
  width: 25px
}

/* ::ng-deep .mat-tab-header {
  position: sticky!important;
  position: -webkit-sticky!important;
  top: 50px!important;
  z-index: 1000!important;
} */

::ng-deep .mat-tab-labels {
    justify-content: center!important; /* align items in Main Axis */
}

::ng-deep .mat-tab-label {
  min-width: 25px !important;
  padding: 0 20px!important;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}
