<div *ngIf="pokemon" class="overflow">
<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
     <img class="icon" src="{{ urlImage }}pokeicon.png">
   </ng-template>
     <div class="row"> <!-- First Row -->
      <div class="col s12 m12 l12">  <!-- Left Column -->
          <pokemon-bio [pokemon]="pokemon"></pokemon-bio>  <!-- Pokemon Bio -->
      </div>
  </div></mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     <img class="icon" src="{{ urlImage }}bars.png">
   </ng-template>
    <div class="row center">  <!-- Second Row -->
        <div class="col s12 m12 l12">  <!-- Column -->
            <pokemon-stadistics [pokemon]="pokemon"></pokemon-stadistics>  <!-- Pokemon Stadistics -->
        </div>

    </div> </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     <img class="icon" src="{{ urlImage }}nature.png">
   </ng-template>

    <div class="row center">  <!-- Third Row -->
      <div class="col s12 m12 l12">  <!-- Column -->
          <pokemon-nature [pokemon]="pokemon"></pokemon-nature>  <!-- Pokemon Nature -->
      </div>

  </div> </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     <img class="icon" src="{{ urlImage }}items.png">
   </ng-template>

       <div class="row center">  <!-- Third Row -->
         <div class="col s12 m12 l12">  <!-- Column -->
            <pokemon-items [pokemon]="pokemon"></pokemon-items>  <!-- Pokemon Items -->
         </div>

  </div> </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
       <img class="icon" src="{{ urlImage }}match.png">
     </ng-template>
     <div class="row center">  <!-- Third Row -->
       <div class="col s12 m12 l12">  <!-- Column -->
           <pokemon-match [pokemon]="pokemon"></pokemon-match>  <!-- Pokemon Match -->
       </div>

   </div> </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     <img class="icon" src="{{ urlImage }}moves.png">
   </ng-template>
   <div class="row center">  <!-- Third Row -->
     <div class="col s12 m12 l12">  <!-- Column -->
         <pokemon-moves [pokemon]="pokemon"></pokemon-moves>  <!-- Pokemon Moves -->
     </div>

 </div> </mat-tab>

   <mat-tab>
     <ng-template mat-tab-label>
      <img class="icon" src="{{ urlImage }}effort.png">
    </ng-template>
    <div class="row center">  <!-- Third Row -->
      <div class="col s12 m12 l12">  <!-- Column -->
          <pokemon-effort [pokemon]="pokemon"></pokemon-effort>  <!-- Pokemon Effort Points -->
      </div>

  </div> </mat-tab>

</mat-tab-group>

</div>
