<!--   Footer Section   -->
  <mat-toolbar color="primary" class="footer">
    <mat-toolbar-row>
      <footer-menu></footer-menu> <!-- Footer Menu Component -->
      <span class="nav-Title"></span>  <!-- Dynamic Footer Title -->
      <div class="inline-social-icons right">  <!-- Social Icons -->
			  <a href="https://www.facebook.com/Pocketown-The-Game-183582658839371/" target="_NEW" class="fa fa-facebook"></a>
			  <a href="#" class="fa fa-twitter"></a>
			  <a href="#" class="fa fa-google"></a>
			</div>
    </mat-toolbar-row>
  </mat-toolbar>
