<div class="col s12 m6 l3">
  <section align="center">
    <a class="bordered-feature-image">
      <img src="../../../../assets/images/first.gif" alt="" />
    </a>
    <h5>Purchase Event</h5>
    <p style="margin-left:5px;">
      Make your first purchase to get one of these <strong>Pokémon!</strong>
    </p>
  </section>

</div>
<div class="col s12 m6 l3">

  <section align="center">
    <a class="bordered-feature-image">
      <img src="../../../../assets/images/login.jpg" alt="" />
    </a>
    <h5>Login Gifts!</h5>
    <p style="margin-left:5px;">
      Login everyday during <strong>14 days</strong> to win fantastic rewards!
    </p>
  </section>

</div>
<div class="col s12 m6 l3">

  <section align="center">
    <a class="bordered-feature-image">
      <img src="../../../../assets/images/purchase.jpg" alt="" />
    </a>
    <h5>Expend Points</h5>
    <p style="margin-left:5px;">
      Total crystal consumption. <strong>Expend crystals</strong> and get points!
    </p>
  </section>

</div>
<div class="col s12 m6 l3">

  <section align="center">
    <a class="bordered-feature-image">
      <img src="../../../../assets/images/expend.jpg" alt="" />
    </a>
    <h5>Cumulative Purchase</h5>
    <p style="margin-left:5px;">
      <strong>Purchase crystals</strong> to get points. More crystals, more points!
    </p>
  </section>

</div>
