section {
  margin: 0 auto 20px auto;
}

.bordered-feature-image {
		display: block;
		background: #fff url("../../../../../assets/images/bg05.png");
		padding: 5px 5px 0 5px;
		border-radius:5px;
		box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		margin: 0 0 1.5em 0;
		outline: 0;
	}

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

  h5 {
    color: black;
    font-weight:bold;
    text-shadow: 2px 2px #e3f00b;
    font-size: 1.3em;
  }

  p {
    font-size: .9em;
  }
