.stats {
text-align: center;
margin: 0 auto auto -10px;
}

.mat-card-title {
  font-size: .8em;
}

.high {
  font-weight: bold;
  font-size: 1.1em;
}

.header {
  margin-bottom: 5px;
}

.top {
  margin-top: 22px;
}

@media (min-width:599px) {
  .top {
    margin-top: 12px;
  }
}

.centered {
  margin-right: 10px;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

.card {
  max-width: 300px;
  margin: 20px auto auto auto;
  min-height: 410px;
}

.family {
  position: absolute;
  bottom:12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.familiar {
  width: 30px;
  margin: 0 3px;
}

mat-card-subtitle {
  text-align: left;
}

.header-image {
  background-image: url('../../../../../../assets/icons/bars.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 0;
}


/* PROGRESS BARS */

.HP, .ATK, .DEF, .SATK, .SDEF, .SPD {
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 16em;
  height: 2em;
  border: 1px solid #00000f;
  background: #fff;
	vertical-align: middle;
	margin: 5px auto;
  border-radius: 3px;
}

::-webkit-progress-bar { background: #d3d3d3; margin: 0 auto; }
.HP::-webkit-progress-value { background: #0f0; border-right: 1px solid #000; }
.ATK::-webkit-progress-value { background: #ffff00; border-right: 1px solid #000; }
.DEF::-webkit-progress-value { background: #ffa500; border-right: 1px solid #000; }
.SATK::-webkit-progress-value { background: #ff0000; border-right: 1px solid #000; }
.SDEF::-webkit-progress-value { background: #17c9e3; border-right: 1px solid #000; }
.SPD::-webkit-progress-value { background: #0000ff; border-right: 1px solid #000; }


td {
	padding: 5px;
}
