.card {
  max-width: 350px;
  margin: auto;
  min-height: 450px;
  padding: 25px;
}

h5 {
  font-size: 1.3em;
}

.bar {
  position: absolute;
  bottom: 20px;
  width: 90%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
}

.pokemon {
  width: 65px;
  margin: 0 auto;
  display: block;
}

.team {
  margin-bottom: 15px;
  margin-top: 40px;
}

.row .col {
  padding: 0!important;
}

.pokemonTeam {
  width: 40px;
  margin: 0 auto;
}

.pokemonTeam:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.noPokemon {
  margin-top: 40%;
  font-size: .8em;
}

.darkblue {
  color:darkblue;
  font-weight: bold;
}
