<div *ngIf="trainer">
    <mat-card class="card">
      <div class="row">
        <div class="col s6 m6 l6 center">
          <h5 class="bold truncate">{{trainer.name}}</h5>
          <img src="{{urlImage}}{{trainer.avatar}}.png"/>
        </div>
        <div class="col s6 m6 l6 center margin">
          <p class="bold">Pokémon</p>
          <p><img class="pokemon" src="{{urlPokemon}}{{trainer.pokemon}}.png"/></p>
        </div>
      </div>
      <div class="center">
        <p>Server: <span class="bold">{{trainer.server}}</span></p>
        <p>Guild: <span class="bold">{{trainer.guild}}</span></p>
      </div>
      <br>
      <div class="center" *ngIf="trainer.team !=''">
        <h5 class="team">Pokémon Team</h5>
          <div class="row center">
            <div class="col s2 m2 l2" *ngFor="let pokemon of trainer.team">
              <img class="pokemonTeam" (click)="navigate(pokemon.picture)" src="{{urlPokemon}}{{pokemon.picture}}.png"/>
            </div>
            <mat-progress-bar *ngIf="totalSS" class="bar" color="warn"
            mode="determinate" bufferValue="100" [value]="totalSS"></mat-progress-bar>  <!-- Progress Bar -->
          </div>
      </div>
        <div *ngIf="trainer.team ==''" class="center">  <!-- Only If No Trainer Team -->
          <p class="noPokemon">Seems like <span class="bold">{{trainer.name}}</span>
             doesn't have any <span class="darkblue">Pokémon</span> yet.
          </p>
        </div>

    </mat-card>

</div>
