    <mat-card class="card">
      <img class="pkm-img" src="{{urlImage}}{{pokemon.picture}}.png"/>
      <mat-card-header class="header">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="bold">{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle>Match Up</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="top">

      <div class="row">
        <div class="col s6 m6 l6">
            <span class="type Grass">GOOD</span>  <!-- Good Pokemon -->
              <div class="good">
                <span><img matTooltip="{{good1}}" (click)="navigate(pokemon.good1)"
                  src="{{urlImage}}{{pokemon.good1}}.png"></span>

                <span><img matTooltip="{{good2}}" (click)="navigate(pokemon.good2)"
                  src="{{urlImage}}{{pokemon.good2}}.png"></span>

                <span><img matTooltip="{{good3}}" (click)="navigate(pokemon.good3)"
                  src="{{urlImage}}{{pokemon.good3}}.png"></span>
              </div>
          </div>

        <div class="col s6 m6 l6">
          <span class="type Fighting">BAD</span>  <!-- Bad Pokemon -->
            <div class="bad">
              <span><img matTooltip="{{bad1}}" (click)="navigate(pokemon.bad1)"
                src="{{urlImage}}{{pokemon.bad1}}.png"></span>

              <span><img matTooltip="{{bad2}}" (click)="navigate(pokemon.bad2)"
                src="{{urlImage}}{{pokemon.bad2}}.png"></span>

              <span><img matTooltip="{{bad3}}" (click)="navigate(pokemon.bad3)" 
                src="{{urlImage}}{{pokemon.bad3}}.png"></span>
            </div>
        </div>
      </div>

      <div class="row center family">
          <span *ngFor="let familiar of family" (click)="goPokemon(familiar)">
            <img class="familiar" matTooltip="{{familiar.name}}"
            src="{{urlImage}}{{familiar.picture}}.png"/>
          </span>
      </div>

      </mat-card-content>
    </mat-card>
