.header {
  margin-bottom: 5px;
}

img {
  width: 50px;
  margin: 0 15px;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

.top {
  margin-top: 20px;
}

@media (min-width:599px) {
  .top {
    margin-top: 10px;
  }
}

mat-card-subtitle {
  text-align: left;
}

.card {
  max-width: 300px;
  margin: 20px auto auto auto;
  min-height: 420px;
}

.family {
  position: absolute;
  bottom:20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.familiar {
  width: 30px;
  margin: 0 3px;
}

.row {
  margin-top: 15px;
}

.header-image {
  background-image: url('../../../../../../assets/icons/match.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.good , .bad {
  margin-top: 10px;
}

.type{
  padding: 2px 4px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin:3px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
}

.type:hover{
  filter: brightness(1.5);
  cursor: pointer;
  color:black;
}

.Any:hover {
  color: orange;
}
