  <h4>Match Up</h4>
    <div class="match">
        <div class="col s6 m6 l6">
          <span class="type Grass top">GOOD</span>  <!-- Good Pokemon -->
            <div class="good">
              <span><img matTooltipPosition="right" matTooltip="{{good1}}"
                src="{{urlImage}}{{pokemon.good1}}.png"></span>

              <span><img matTooltip="{{good2}}"
                src="{{urlImage}}{{pokemon.good2}}.png"></span>

              <span><img matTooltip="{{good3}}"
                src="{{urlImage}}{{pokemon.good3}}.png"></span>
            </div>
        </div>
        <div class="col s6 m6 l6">
          <span class="type Fighting top">BAD</span>  <!-- Bad Pokemon -->
            <div class="bad">
              <span><img matTooltip="{{bad1}}"
                src="{{urlImage}}{{pokemon.bad1}}.png"></span>

              <span><img matTooltip="{{bad2}}"
                src="{{urlImage}}{{pokemon.bad2}}.png"></span>

              <span><img matTooltipPosition="left" matTooltip="{{bad3}}"
                src="{{urlImage}}{{pokemon.bad3}}.png"></span>
            </div>
        </div>
    </div>
