.header {
  margin-bottom: 5px;
}

.mat-card-title {
  font-size: .8em;
}

.actions {
  position: absolute;
  bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.addButton:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: rotate(-90deg);
  transition: transform 2s;
  overflow: hidden;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

.family {
  position: absolute;
  bottom:12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.familiar {
  width: 30px;
  margin: 0 3px;
}

.top {
  margin-top: 15px;
}

.familiar:hover {
  cursor:pointer;
  filter: brightness(1.2);
}

.info {
  margin-top: 20px;
  text-align: center;
}

mat-icon {
margin: 0 10px;
vertical-align: middle;
margin-top: -3px;
color:orange;
}


.like {
  color:pink;
}

.like:hover {
  cursor:pointer;
  color:red;
}

.card {
  max-width: 350px;
  margin: auto;
  min-height: 430px;
  padding: 25px;
}

.row {
  margin-top: 25px;
}

.header-image {
  background-image: url('../../../../../../assets/icons/pokeicon.png');
  background-size: cover;
  margin-right: 10px;
}


.grade, .evolution, .legend {
  border: 1px solid #787887;
  color:white;
  font-weight:bold;
  border-radius:3px;
  padding:5px 8px;
  cursor: pointer;
  margin-left: 15px;
}


.type {
  padding: 4px 8px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin: auto 5px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: 1.1em!important;
}

.type:hover{
  filter: brightness(1.5);
  cursor: pointer;
  color:black;
}

.Tiny {background-color: grey;}
.S, .Little {background-color: #A052A0;}
.R, .Adult {background-color: #6898F0;}
.SR, .Mega {background-color: #f9b800;}
.SSR, .R2 {background-color: #F08830;}
