<div class="row">
  <div class="col s6 m6 l6">
 <img class="pkm-img"  matTooltip="{{pokemon.name}}"
  src="{{urlImage}}{{pokemon.picture}}.png"/>
  </div>
  <div class="col s6 m6 l6">
    <div class="table center">
        <table class="centered highlight">
          <tbody>
            <tr>
              <td>Nº</td>
              <td>#{{pokemon.pokedex}}</td>
            </tr>
            <tr>
              <td>Grade</td>
              <td><span class="grade {{pokemon.grade}}">
                {{pokemon.grade}}</span></td>
            </tr>
            <tr>
              <td>Evolution</td>
              <td>{{pokemon.evolution}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
