<mat-card class="card">
  <img class="pkm-img" src="{{urlImage}}{{pokemon.picture}}.png"/>
  <mat-card-header class="header">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="bold">{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>{{pokemon.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p class="center">
      <span class="type {{pokemon.type}}">{{pokemon.type}}</span>
      <span *ngIf="pokemon.type2"
      class="type {{pokemon.type2}}">{{pokemon.type2}}</span>
    </p>

    <p class="info">{{pokemon.info}}</p>

    <div class="row">
      <div class="col s6 m6 l6 center">
        <span class="bold">Evolution:</span> <span class="evolution {{pokemon.evolution}}">{{pokemon.evolution}}</span>
      </div>
      <div class="col s6 m6 l6 center">
        <span class="bold">Grade:</span> <span class="grade {{pokemon.grade}}">{{pokemon.grade}}</span>
      </div>
    </div>

    <div class="row center family">
        <span *ngFor="let familiar of family" (click)="goPokemon(familiar)">
          <img class="familiar" matTooltip="{{familiar.name}}"
          src="{{urlImage}}{{familiar.picture}}.png"/>
        </span>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <mat-icon class="like">favorite</mat-icon>
  </mat-card-actions>
</mat-card>
