<!-- Header Section -->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
      <top-menu></top-menu>  <!-- Top Menu Component -->
      <span class="example-spacer">  <!-- Spacer -->
        <img class="logo" [routerLink]="['home']" [src]="logoURL">  <!-- Logo -->
      </span>
        <mat-icon *ngIf="!authService.isAuthenticated()" svgIcon="trainer"
        (click)="login()" class="custom-icon"></mat-icon>  <!-- Trainer -->
        <mat-icon *ngIf="authService.isAuthenticated()" svgIcon="trainer"
        [routerLink]="['profile']" class="custom-icon"></mat-icon>  <!-- Trainer -->
  </mat-toolbar-row>
</mat-toolbar>
