mat-toolbar {
  max-height: 60px;
  min-height: 60px;
  vertical-align: middle;
  border-bottom: 2px solid black;
}

.header {
   position: fixed;
   overflow: hidden;
   top: 0;
   width: 100%;
   z-index: 999;
   color: #FAD702;
   font-weight: bold;
}

.logo {
  width: 185px;
  height: 65px;
  margin: 0 auto;
  padding-top: 13px;
  padding-left: 48px;
}

.logo:focus{
  outline: 0;
}

.logo:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.example-spacer {
  -webkit-box-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.custom-icon {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color:black;
}

.custom-icon:focus {
  outline: 0;
}

mat-icon:hover{
  cursor:pointer;
  filter: brightness(1.5);
}
