  <div class="col s12 m6 l6">

    <section class="pokemon" align="center">
        <a class="bordered-feature-image">
  			   <img src="../../../../assets/images/expedition.jpg" alt="" />
        </a>
  			<p class="bold h4">Do Victory Road!</p>

  			<p>&#x25ba; Check the guide:
  			<span class="bold"><a [routerLink]="['../guides/victory-road']">Victory Road</a></span></p>
  	</section>

  </div>

    <div class="col s12 m6 l6">

      <section class="pokemon" align="center">
          <a class="bordered-feature-image">
            <img src="../../../../assets/images/features.gif" alt="" />
          </a>
    			<p class="bold h4">Discover Pocketown!</p>

    			<p>&#x25ba; More Info:
    			<span class="bold"><a href="">Pocketown</a></span></p>

    	</section>

    </div>
