  <div class="col s12 m12 l12">

    <section class="pokemon" align="center">
  			   <img class="banner" src="../../../../assets/images/banner.gif" alt="" />
  	</section>

  </div>

    <div class="col s12 m12 l12">

      <section class="pokemon" align="center">
          <a class="bordered-feature-image">
            <img src="../../../../assets/images/features.gif" alt="" />
          </a>
    			<p class="bold h4">Discover Pocketown!</p>

    			<p>&#x25ba; More Info:
    			<span class="bold"><a href="">Pocketown</a></span></p>

    	</section>

    </div>
