.radio-button {
  width: 120px;
}

.center {
  margin-left: -15px;
}

.bold {
  font-size: 1.3em;
}

@media (max-width: 1000px){
  .radio-button {
    width: 32%;
    margin:5px auto;
  }
}

.Any {
  background: none;
}

.Tiny {color:#bbdefb}
.Little {color:#64b5f6}
.Adult {color:#2196f3}
.Mega {color:#1976d2}
.R2 {color:#0d47a1}
