
#Pikachu {
	  opacity: 0.3;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: -75px; /* Place the button 25px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
	  font-weight:bold;
	  float:right;
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
}

@media (min-width: 600px) {
	.row {
		margin-left: 25px;
	}
}

@media (min-width: 993px) {
	.row {
		margin-left: 40px;
	}
}
