<button class="nav-Menu" mat-icon-button [matMenuTriggerFor]="menu">  <!-- Menu Trigger -->
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu"  [overlapTrigger]="false">

  <button [routerLink]="['home']" routerLinkActive="active" mat-menu-item>
    <mat-icon svgIcon="pikachu"></mat-icon> <!-- Home -->
    <span>Inicio</span>
  </button>

  <button [routerLink]="['pokedex']" routerLinkActive="active" mat-menu-item>
    <mat-icon svgIcon="bulbasaur"></mat-icon> <!-- About -->
    <span>Pokédex</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Admin">
    <mat-icon svgIcon="admin"></mat-icon> <!-- Menu Trigger Admin -->
    <span>Admin</span>
  </button>

</mat-menu>

<mat-menu #Admin="matMenu"> <!-- Admin Menu -->
  <button [routerLink]="['admin/pokemon']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="psyduck"></mat-icon>Pokémon</button>
</mat-menu>
