
<button class="nav-Menu" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false">

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Database">
    <mat-icon svgIcon="database"></mat-icon> <!-- Database -->
    <span>Data</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Tools">
    <mat-icon svgIcon="tools"></mat-icon> <!-- Tools -->
    <span>Tools</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Guides">
    <mat-icon svgIcon="guides"></mat-icon> <!-- Guides -->
    <span>Guides</span>
  </button>

  <button routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Game">
    <mat-icon svgIcon="game"></mat-icon> <!-- Guides -->
    <span>Game</span>
  </button>

   <button *ngIf="authService.admin" routerLinkActive="active" mat-menu-item [matMenuTriggerFor]="Admin">
    <mat-icon svgIcon="admin"></mat-icon>
    <span>Admin</span>
  </button>

</mat-menu>

<mat-menu #Database="matMenu" > <!-- Database Menu -->
  <button [routerLink]="['pokedex']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="bulbasaur"></mat-icon>Pokédex
  </button>
  <button [routerLink]="['moves']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="move"></mat-icon>Moves
  </button>
  <button [routerLink]="['held-items']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="poke-item"></mat-icon>Held Items
  </button>
</mat-menu>

<mat-menu #Tools="matMenu" > <!-- Tools Menu -->
  <button [routerLink]="['laboratory']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="laboratory"></mat-icon>Laboratory
  </button>
</mat-menu>

<mat-menu #Guides="matMenu"> <!-- Guides Menu -->
  <button [routerLink]="['guides/victory-road']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="victory-road"></mat-icon>Victory Road
  </button>
</mat-menu>

<mat-menu #Game="matMenu" > <!-- Game Menu -->
  <button [routerLink]="['home']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="pocketown"></mat-icon>Pocketown
  </button>
  <button [routerLink]="['trainers']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="trainers"></mat-icon>Trainers
  </button>
</mat-menu>

 <mat-menu #Admin="matMenu">
  <button [routerLink]="['admin/pokemon']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="psyduck"></mat-icon>Pokémon
  </button>
  <button [routerLink]="['admin/move']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="move"></mat-icon>Moves
  </button>
  <button [routerLink]="['admin/pokeItem']" routerLinkActive="active"
          mat-menu-item><mat-icon svgIcon="poke-item"></mat-icon>Held Items
  </button>
</mat-menu>
