<div  class="animated slideInUp">  <!-- Animations CSS -->
      <h3>Victory Road</h3>
      <blockquote>Take a Expedition with plenty of challenges!</blockquote>

  <div class="row">

        <ol class="index">
           <li><span class="list">1.</span><h4 class="index"><a (click)="scrollToElement(Rules)">Rules</a></h4></li>
           <li><span class="list">2.</span><h4 class="index"><a (click)="scrollToElement(Requeriments)">Requeriments</a></h4></li>
           <li><span class="list">3.</span><h4 class="index"><a (click)="scrollToElement(Starting)">Starting</a></h4></li>
           <li><span class="list">4.</span><h4 class="index"><a (click)="scrollToElement(Strategy)">Strategy</a></h4></li>
           <li><span class="list">5.</span><h4 class="index"><a (click)="scrollToElement(Stats)">Stat Changes</a></h4></li>
           <li><span class="list">6.</span><h4 class="index"><a (click)="scrollToElement(Smuggler)">Poke Smuggler</a></h4></li>
           <li><span class="list">7.</span><h4 class="index"><a (click)="scrollToElement(Rewards)">Rewards</a></h4></li>
       </ol>

      <hr class="separator">

      <h2 #Rules>Rules</h2>  <!-- RULES -->

      	<ul class="pokeball-list">
        	<li><p>Pokémon will not recover <span class="bold">HP</span> and <span class="bold">PP</span> during or after battle.</p></li>
        	<li><p>Cannot use Pokémon <span class="bold">Heal or bag items</span> in Victory Road.</p></li>
        	<li><p>Newly caught Pokémon can be <span class="bold">assigned</span> to Victory Road Formation. (Before reset)</p></li>
        	<li><p>Pokémon in formation will not be affected by <span class="bold">exterior upgrades</span> and boosts.</p></li>
        	<li><p>Opponents of each stage will be chosen based on the <span class="bold">power of Pokémon</span> the player has.</p></li>
        	<li><p>Each time player clear the Victory Road, they have a chance to encounter <span class="bold">PokeSmuggler</span>.</p></li>
        	<li><p>VIP13 players or above will get <span class="bold">double rewards</span> from the boxes they pick up.</p></li>
        	<li><p>VIP5 players or above can use <span style="color:red; font-weight:bold">Quick Kill</span>.
            This will complete Victory Road till <span class="bold">stage 10</span>.</p></li>
      	</ul>

      <h2 #Requeriments>Requeriments</h2>  <!-- REQUERIMENTS -->

      	<ul class="pokeball-list">
        	<li><p>There is no level restriction, but We recommend minimum <span class="bold">Level 50</span>.</p></li>
        	<li><p>You need to have more than <span class="bold">10 Pokémon</span> around your level.</p></li>
        	<li><p>If You want to clear Victory Road everytime 100% guaranteed, it will take around <span class="bold">2 hours</span>.</p></li>
        	<li><p>You must have every attack type covered. Example:
          <p><span class="type Grass">Energy Ball</span> to kill <span class="bold">Swampert</span> or
          <span class="bold">Kyogre</span></p>
          <p><span class="type Ice">Ice Beam</span> to kill <span class="bold">Garchomp</span> or <span class="bold">Giratina</span></p>
          <p><span class="type Fighting">Aura Sphere</span> to kill <span class="bold">Tyranitar</span> or <span class="bold">Darkrai</span></p>
          <p><span class="type Fire">Flamethrower</span> to kill <span class="bold">Scizor</span> or <span class="bold">Snorlax Y</span>.</p></li>
        	<li><p>You need Pokémon with <span class="bold">Recover, Roost, Slack Off</span>, etc... This will help You a lot to clear your Expedition.</p></li>
        </ul>

      <h2 #Starting>Starting</h2>  <!-- STARTING -->

      <h4>Let's start the expedition to Victory Road!</h4>

      <h4 class="bold">What is Victory Road?</h4>  <!-- WHAT IS VICTORY ROAD? -->

      <span class="bold">Victory Road</span> is a serie of challenges against <span class="bold">random real trainers</span>,
      although they are controlled by CPU. There are a total of <span class="bold">15 stages</span>, each one harder than the last,
      making the stage 15 the harder. Each stage has a <span class="bold">chest reward</span>, so it's important to reach the last stage,
      this means more rewards!

      <h4 class="bold">When can I do Victory Road?</h4>
      Everyday You can reset <span class="bold">Victory Road</span> once. It doesn't reset automatically, so even if You miss to do
      Victory Road one day (<span class="bold">after 00:00 GMT+8</span>), don't worry, You have another entire day to clear all
      the stages and reset manually to do it again.

      <p>&#x25ba; In summary, You get an <span class="bold">extra reset</span> everyday.</p>

      <h4 class="bold">Recommened Tips</h4>  <!-- RECOMMENED TIPS -->

      <p>&#x25ba; The <span class="bold">Berry</span> will be reset after each battle.</p>
      <p>&#x25ba; Escape won't fail unless you are trapped by some move. (Also escape first)</p>
      <p>&#x25ba; The rule of unable to recover <span class="bold">HP</span> or <span class="bold">PP</span> after
      battle not only work for you, but also your rival.</p>
      <p>&#x25ba; However, the buff or debuff will be reset after battle.</p>

      <h4 class="bold">Recommened Pokémon</h4>  <!-- RECOMMENED POKEMON -->

      <div class="row recommend">
        <div class="col s12 m12 l6 recommend center">
          <mat-card>
            <mat-card-content>
                <p>&#x25ba; Tank liked Pokémon that can Recover <span class="bold">HP</span>.</p>

                <p><span class="bold">Snorlax</span> , <span class="bold">Lugia</span> and <span class="bold">Kyogre</span>.
                If they have boost move, it will be even better.</p>

                <div align="center">
                  <img class="pokemon" src="{{urlImagePokemon}}Snorlax.png">
                  <img class="pokemon" src="{{urlImagePokemon}}Lugia.png">
                  <img class="pokemon" src="{{urlImagePokemon}}Kyogre.png">
                </div>
            </mat-card-content>
           </mat-card>
        </div>
        <div class="col s12 m12 l6 center">
          <mat-card>
            <mat-card-content>
                <p>&#x25ba; Pokémon with high <span class="bold">SPD</span> and <span class="bold">S.ATK</span> or <span class="bold">ATK</span>.</p>

                <p><span class="bold">Mewtwo</span> and <span class="bold">Deoxys</span>.
                They move first and easily kill the enemies in 1 hit.</p>

                <div align="center">
                  <img class="pokemon" src="{{urlImagePokemon}}Mewtwo.png">
                  <img class="pokemon" src="{{urlImagePokemon}}Deoxys.png">
                  <img class="pokemon" src="{{urlImagePokemon}}Darkrai.png">
                </div>
            </mat-card-content>
           </mat-card>
        </div>
  </div>
  <div class="row recommend">
      <div class="col s12 m12 l6 recommend center">
        <mat-card>
          <mat-card-content>
            <p>&#x25ba; Pokémon with debuff move like <span class="type Grass">Sleep Powder</span> and <span class="bold">leech HP</span>.</p>

            <p><span class="bold">Venusaur</span>, <span class="bold">Jumpluff</span> or <span class="bold">Shaymin</span>.
              </p>

            <div align="center">
              <img class="pokemon" src="{{urlImagePokemon}}Venusaur.png">
              <img class="pokemon" src="{{urlImagePokemon}}Jumpluff.png">
              <img class="pokemon" src="{{urlImagePokemon}}Shaymin.png">
            </div>
         </mat-card-content>
        </mat-card>
      </div>

      <div class="col s12 m12 l6 center">
        <mat-card>
          <mat-card-content>
              <p>&#x25ba; Pokémon with <span class="bold">SPD</span> and <span class="type Ghost">Destiny Bond</span>.
              Make a <span class="bold">Suicide</span> team!</p>

              <p><span class="bold">Gastly</span> , <span class="bold">Haunter</span> or <span class="bold">Gengar</span>.</p>

              <div align="center">
                <img class="pokemon" src="{{urlImagePokemon}}Gengar.png">
                <img class="pokemon" src="{{urlImagePokemon}}Wobbuffet.png">
                <img class="pokemon" src="{{urlImagePokemon}}Haunter.png">
              </div>
          </mat-card-content>
         </mat-card>
      </div>
  </div>

      <h4><span class="bold">Let's start!</span></h4>   <!-- LET'S START -->

      <p>&#x25ba; First You need to enter the Menu and select "<span class="bold">Instance</span>"</p>
      <p>&#x25ba; Search and select "<span class="bold">Victory Road</span>"</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}instance.jpg" ></div>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory2.jpg" ></div>

      <p>&#x25ba; You will appear in "<span class="bold">Victory Road</span>"</p>
      <div align="center"><img class="victory" src="{{ urlImage }}victory3.png" ></div>

      <p>&#x25ba; Now You can <span class="bold">adjust</span> your team.</p>
      <p>&#x25ba; Remember You can use any Pokémon above <span class="bold">Level 10</span> You have on the computer.</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory4.jpg" ></div>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory5.png" ></div>

      <p>&#x25ba; Use your <span class="bold">weak Pokémon</span> first. Save your strong Pokémon, the last trainers will be around your Level.</p>
      <p>&#x25ba; Use Pokémon of <span class="bold">different types</span>, put your fastest Pokémon first.</p>

      <hr class="separator">

      <p>Everything is almost ready! Before start dueling trainers, you should know a couple of things:</p>

      <div style="margin-left:20px; margin-top:25px">
        <p>&#9900; &nbsp; Before entering <span class="bold">Victory Road</span> remember to equip Berry to all your Pokémon.</p>
        <p>&#9900; &nbsp; <span class="bold">Berry</span> won't be consumed even if it used in battle.</p>
        <p>&#9900; &nbsp; Remember to use Pokémon with <span class="bold">priority moves</span> to secure kills on Pokémon with
        <span class="bold">low HP</span>. Good examples are, <span class="type Normal">Quick Attack</span>, <span class="type Normal">Extreme Speed</span>,
        <span class="type Steel">Bullet Punch</span>.</p>
        <p>&#9900; &nbsp; Every stage is harder than the last. It should be easy till <span class="bold">stage 10</span>.</p>
        <p>&#9900; &nbsp; You can <span class="bold">reset</span> Victory Road once a day.</p>
        <p>&#9900; &nbsp; Pokémon with <span class="type Grass">Sleep Powder</span> and <span class="type Grass">Leech Seed</span>
        are very useful because you can heal any of your Pokémon.</p>
        <p>&#9900; &nbsp; Only <span class="bold">6 Pokémon</span> can enter the battle, but there's no limit how many times they can switch.</p>
        <p>&#9900; &nbsp; Use moves with <span class="bold">high PP</span>. This will help You to defeat more opponents.</p>
        Examples: <span class="type Grass">Bullet Seed</span>, <span class="type Fighting">Aura Sphere</span>, <span class="type Flying">Aerial Ace</span>,
        <span class="type Steel">Steel Wing</span>, etc..
        <p>&#9900; &nbsp; Use <span class="bold">Escape</span> to check your rival’s Pokémon. Make sure your first
        <span class="bold">Pokemon</span> can hit his weakness.</p>
        <p>&#9900; &nbsp; When your rival change his Pokémon for your <span class="bold">weakness</span>, dont stay or change Pokémon in the battle.
        <span class="bold">Escape</span> to change. (Cause your rival’s Pokemon won't recover, either)</p>
        <p>&#9900; &nbsp; Take use of the reset for <span class="bold">Berry</span>. If your Pokemon’s Berry is used, consider if
        <span class="bold">Escape</span> will help. (Your rival’s Pokemon’s Berry will also reset)</p>
        <p>&#9900; &nbsp; If you make false move in the battle, you can force <span class="bold">close</span> the game.
        Then the record of battle with that rival will be totally reset.</p>
      </div>

      <div align="center"><img class="victory" src="{{ urlImage }}reset.png" ></div>

      <hr class="separator">

      <h2 #Strategy>Strategy</h2>   <!-- STRATEGY -->

      <h4>Clear Victory Road everytime!</h4>

      <p>The objective of this strategy to clear <span class="bold">Victory Road</span> 100% guaranteed is to defeat every opposing Pokémon with
      <span class="bold">1 move K.O</span>. Make "<span style="font-weight:bold; color:orange">Super Effective</span>" move every turn is a
      <span class="bold">MUST</span>.</p>

      <p>This means You need to <span class="bold">escape battle</span> every time You
      <span class="bold">can't</span> kill the enemy Pokémon in <span class="bold">1 move</span>.
      At lower stages, enemy Pokémon are weak and sometimes You can defeat them in <span class="bold">1 move K.O</span> without
      making "<span style="font-weight:bold; color:orange">Super Effective</span>".</p>

      <p>Your Pokémon <span class="bold">can't</span> take any damage at all till <span class="bold">stage 10+</span>.
      That's why You need to defeat the opposing Pokémon with <span class="bold">1 move K.O</span>.</p>

      <p>At this point, knowing the "<span class="bold">Effectiveness and Weakness</span>" table is very useful.
      You need to know every turn which move causes "<span style="font-weight:bold; color:orange">Super Effective</span>"
      to the opposing Pokémon.</p>

      <div align="center"><img class="victory" src="{{ urlImage }}victory6.png" ></div>

      <p>Let's see how it works with a quick example:</p>

      <p>&#x25ba; Put on first place a Pokémon with <span class="type Grass">Grass</span> move like <span class="type Grass">Energy Ball</span>
      as <span class="bold">Mega Latias</span>.</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory8.jpg" ></div>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory9.png" ></div>

      <p>&#x25ba; This time You encounter a <span class="bold">Dragonite</span>. Your move <span class="type Grass">Energy Ball</span>
      is not effective against a <span class="type Dragon">Dragon</span> It's time for You to press <span class="bold">Escape button</span>.</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory10.jpg" ></div>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory10a.jpg" ></div>

      <p>&#x25ba; Let's see back again the "<span class="bold">Effectiveness and Weakness</span>" table. Which move is strong
      against a <span class="type Dragon">Dragon</span>? The answer is <span class="type Ice">Ice</span></p>

      <p>&#x25ba; Now change your <span class="bold">Formation</span> and put an <span class="type Ice">Ice</span> type Pokémon first.
      In my case I use <span class="bold">Mega Articuno</span>.</p>

      <p>&#x25ba; Face the same Trainer again and use an <span class="type Ice">Ice</span> move against
      <span class="bold">Dragonite</span> to deal <span class="bold">1 move K.O</span>.</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory11.jpg" ></div>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory12.jpg" ></div>

      <p>The next opposing Pokémon is a <span class="bold">Mega Aerodactyl</span>. An <span class="type Ice">Ice</span>
      move should be enough to deal <span class="bold">1 move K.O</span>,
      but let's think for a while.</p>

      <p>Which type is "<span style="font-weight:bold; color:orange">Super Effective</span>"
      against <span class="type Rock">Rock</span>? Exactly, <span class="type Water">Water</span>.
      We have <span style="font-weight:bold; color:blue">Water</span> Pokémon.
      It's better if You manage moves by <span class="bold">PP</span>.</p>

      <p>As You know, <span class="type Ice">Ice Beam</span> has only <span class="bold">10 PP</span>, so it's better if you use another
        "<span style="font-weight:bold; color:orange">Super Effective</span>" move against the opposing Pokémon and save
      <span class="type Ice">Ice Beam</span> for stronger Pokémon You may encounter.</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory13.png" ></div>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory14.jpg" ></div>

      <p>As You can see, I used <span class="bold">Mega Milotic</span> and <span class="type Water">Water Pulse</span> to
      defeat <span class="bold">Mega Aerodactyl</span>.</p>

      <p>You get the same <span class="bold">1 move K.O</span> with the
      advantage that <span class="type Water">Water Pulse</span> have way more <span class="bold">PP</span> than <span class="type Ice">Ice Beam</span></p>

      <p>&#x25ba; Watch this <span class="bold">video</span> that resume everything explained till now.</p>

      <div align="center"><iframe class="youtube" src="https://www.youtube.com/embed/j24ot4aWE2k" frameborder="0" allowfullscreen></iframe></div>

      <p>Watch the minute <span class="bold">4:33</span> of the video. <span class="bold">Mega Lucario</span> with
      <span class="type Ground">Dig</span> VS <span class="bold">Mega Charizard X</span>.</p>

      <p>Maybe You are thinking why I don't used <span class="type Ground">Dig</span> that is "<span style="font-weight:bold; color:orange">Super Effective</span>"
      against <span class="bold">Mega Charizard X</span>. The answer is <span class="bold">simply and very important</span>.</p>

      <p>&#x25ba; You <span class="bold">MUST</span> know your Pokémon <span class="bold">Weaknesses</span> and
      <span class="bold">Strengths</span> and how much damage your Pokémon can deal with a <span class="bold">specific move</span>.</p>

      <p>I knew that with <span class="type Ground">Dig</span> I wouldn't be able to defeat the opponent with <span class="bold">1 move K.O</span>
      and later <span class="bold">Mega Lucario</span> would have take <span class="bold">x2 damage</span> from a <span class="type Fire">Flamethrower</span>
      Replacing <span class="bold">Mega Milotic</span> for <span class="bold">Mega Lucario</span> was a good move because
      <span class="bold">Mega Milotic</span> can resist a <span class="type Fire">Flamethrower</span> very well and it has a
      <span class="type Dragon">Dragon</span> type move, good against <span class="bold">Mega Charizard</span>.</p>

      <hr class="separator">

      <h4>Sleep Strategy</h4>  <!-- SLEEP STRATEGY -->

      If You ever find a trainer stronger than you with more <span class="bold">Break-up</span>, more <span class="bold">Level</span>, etc... Use this strategy:

      <p>&#x25ba; Use a Pokémon with <span class="type Grass">Sleep Powder</span>, <span class="type Dark">Dark Void</span></p>
      <p>&#x25ba; When the opposing Pokémon is <span class="bold">sleep</span>, start to raise your stats with moves like
      <span class="type Normal">Swords Dance</span> or <span class="type Dark">Nasty Plot</span></p>
      <p>&#x25ba; After this You will <span class="bold">1 move K.O</span> every opposing Pokémon.</p>

      <div align="center"><iframe class="youtube" src="https://www.youtube.com/embed/5X0CHbxM4Lw" frameborder="0" allowfullscreen></iframe></div>

      <hr class="separator">

      <h4>Happiny Strategy</h4>  <!-- HAPPINY STRATEGY -->

      If You want to heal a Pokémon and recover all your HP, use a <span class="bold">Happiny</span>!

      <p>&#x25ba; First <span class="bold">Sleep</span> the target with a Pokémon with <span class="type Grass">Sleep Powder</span>,
      <span class="type Dark">Dark Void</span>...</p>
      <p>&#x25ba; Then change your Pokémon to <span class="bold">Happiny</span>, then use
      <span class="type Psychic">Healing Wish</span> learned at <span class="bold">Level 34</span>.</p>
      <p>&#x25ba; Finally select the Pokémon You want to fully recover <span class="bold">HP</span>.</p>
      Easy! Let's continue the Expedition!
      <p>&#x25ba; You can find <span class="bold">Wild Happiny</span> in the following
      <a href="" target="_NEW" class="bold">Maps</a></p>

      <div align="center"><iframe class="youtube" src="https://www.youtube.com/embed/8t_SchRLyvs" frameborder="0" allowfullscreen></iframe></div>

      <hr class="separator">

      <h2 #Stats>Stat Changes</h2>  <!-- STATS CHANGES -->
      <h4>Don't worry about Stat Changes, learn how!</h4>

      <p>&#x25ba; We count <span class="bold">Stat Changes</span> as...</p>

      <div class="center stats">
        <p><span class="type Fire">Burned</span>
        <span class="type Electric">Paralyzed</span>
        <span class="type Flying">Sleeped</span></p>
        <p><span class="type Poison">Poisoned</span>
        <span class="type Ice">Frozen</span></p>
     </div>

      <p>Moves that changes <span class="bold">Pokémon stats</span> like
      <span class="type Normal">Swords Dance</span> or moves that lower your stats like <span class="type Steel">Metal Sound</span>
      When any of your Pokémon get one of this stats changes, simply
      <span class="bold">Escape</span> the battle and the stat change will disappear.</p>

      <div align="center"><img class="victory" src="{{ urlImage }}victory20.png" ></div>

      <p>&#x25ba; If You are in battle and the opposing Pokémon use a move to <span class="bold">boost</span> any of his stats,
      it's your opportunity to <span class="bold">recover</span> all your Pokémon.</p>

      <p>Example: In this battle <span class="bold">Mega Mawile</span> use <span class="type Normal">Swords Dance</span> on the first turn.
      This is a free turn for Us, so let's use <span class="type Normal">Recover</span></p>

      <p>&#x25ba; You can <span class="bold">repeat</span> this everytime You want with any of your Pokémon.
      Use this to recover all your Pokémon with heal move.</p>

      <p>&#x25ba; Don't worry, on the first turn <span class="bold">Mega Mawile</span> will always use the move
      <span class="type Normal">Swords Dance</span>, unless You put a Pokémon weak to <span class="type Ice">Ice</span> -
      <span class="type Dark">Dark</span>

      <!-- <div align="center"><img src="https://gifyu.com/images/victorygif.gif" ></div> -->

      <p>&#x25ba; Watch this <span class="bold">video</span> of another example of stat changes, now with <span class="type Grass">Sleep Powder</span></p>

      <div align="center"><iframe class="youtube" src="https://www.youtube.com/embed/FhuQ9qicGQo" frameborder="0" allowfullscreen></iframe></div>

      <p><span class="bold">Mega Articuno</span> VS <span class="bold">Mega Venusaur</span> it's a good match up for Us. We use
      <span class="type Ice">Ice Beam</span> , although He's faster, He dealt <span class="bold">low damage</span>.</p>

      <p>&#x25ba; <span class="bold">Mega Venusaur</span> will use <span class="type Grass">Sleep Powder</span> next turn.
      We can risk for a turn since <span class="type Grass">Sleep Powder</span> has only <span class="bold">60% hit rate</span>.</p>

      <p>In this case it will affect, making Us fall sleep. It's time to <span class="bold">escape</span> and battle again.</p>

      <p>&#x25ba; As You can see, We are not in <span class="bold">sleep</span> anymore and <span class="bold">Mega Venusaur</span>
      will use <span class="type Grass">Sleep Powder</span> on the second turn again.</p>

      <p>&#x25ba; Remember always <span class="bold">escape</span> the battle if you got any <span class="bold">Stat Change</span>
      or if the opposing Pokémon have <span class="bold">increased</span> stats.</p>

      <hr class="separator">

      <h2 #Smuggler>Poke Smuggler</h2>   <!-- POKE SMUGGLER -->
      <h4>The Black Market is here!</h4>

      <p>After You complete the stage 15, <span class="bold">Poke Smuggler</span> is there waiting for You!
        He sells unique items You only can buy here. This make Poke Smuggler the <span class="bold">best shop</span> in Pocketown.</p>

      <p>&#x25ba; This is one of the main reasons for doing <span class="bold">Victory Road</span>, other is <span class="bold">Awakening Stones</span>.</p>

      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory16.png" ></div>
      <div class="col s12 m12 l6" align="center"><img class="victory" src="{{ urlImage }}victory17.png" ></div>

      <p><span class="bold">Poke Smuggler</span> actually sells the following items:</p>

      <div class="center tooltip">

        <img matTooltip="NATURE CONVERTER: Can catalyze a Pokémon to change its nature,
        You may exchange it from the Points Store or use shard to synthesizing it." src="{{ urlImage }}converter.png" />

        <img matTooltip="CATCH VOUCHER: Used in Quick Catch, can be used to catch Pokémon
        and deduct crystals that would normally be consumed." src="{{ urlImage }}catch.png" />

        <img matTooltip="ENCOUNTER VOUCHER: Use it near the grass to encounter warious wild Pokémon immediately." src="{{ urlImage }}encounter.png" />

        <img matTooltip="EVOLUTION STONE: A peculiar stone that can make certain Pokémon to evolve." src="{{ urlImage }}evostone.png" />

        <img matTooltip="ENERGY COIN: Coin that contains energy. Can unlock the unknown potential of Pokémon." src="{{ urlImage }}coin.png" />

        <img matTooltip="RARE CAPSULE: A capsule with energy that will change the Individual Values of a Pokémon." src="{{ urlImage }}capsule.png" />

        <img matTooltip="VITAMINE: Can be used to exchange for Effort Values." src="{{ urlImage }}protein.png" />

        <img matTooltip="AWAKENING STONE: Can catalyzes a Pokémon to awaken." src="{{ urlImage }}stone.png" />

        <img matTooltip="ABILITY SHARD: Shards from decomposition of Ability Stones,
        can be used to synthesize Ability Stones." src="{{ urlImage }}shard.png" />

        <img matTooltip="PURPLE CARD: Pokémon Card, highly collectible,
          can be used to help certain Pokémon breakthrough." src="{{ urlImage }}purplecard.png" />

        <img matTooltip="ORANGE CARD: Pokémon Card, highly collectible,
          can be used to help certain Pokémon breakthrough." src="{{ urlImage }}orangecard.png" />

        <img matTooltip="MASTER BALL: The best Poke Ball with the ultimate level of performance.
          With it, You will catch any wild Pokémon without fail." src="{{ urlImage }}masterball.png" />

      </div>

      <hr class="separator">

      <h2 #Rewards>Rewards</h2>   <!-- REWARDS -->
      <h4>Fill your pockets with many items!</h4>

      <p>There is a chest after every stage, total <span class="bold">15 chest</span>.</p>

      <div align="center"><img class="victory" style="border-radius: 5%" src="https://gifyu.com/images/victorychest.gif" ></div>

      <p>The chest rewards depend on the stage:</p>

      <div class="col s12 m12 l6 center">

        <h4 class="bold">Stage 1 - 10</h4>
        <div class="tooltip">
          <img matTooltip="AWAKENING STONE: Can catalyzes a Pokémon to awaken." src="{{ urlImage }}stone.png" />

          <img matTooltip="POKÉMON GOLD: Common currency in Pocketown. Spend them as you like." src="{{ urlImage }}gold.png" />

          <img matTooltip="POTENTIAL BOOK: A book engraved with Pokémon text, can stimulate Pokémon inherent potential." src="{{ urlImage }}book.png" />
        </div>
      </div>

      <div class="col s12 m12 l6 center">

        <h4 class="bold"><span class="bold">Stage 10 - 15</span></h4>
        <div class="tooltip">
          <img matTooltip="AWAKENING STONE: Can catalyzes a Pokémon to awaken." src="{{ urlImage }}stone.png" />

          <img matTooltip="POTENTIAL BOOK: A book engraved with Pokémon text, can stimulate Pokémon inherent potential." src="{{ urlImage }}book.png" />

          <img matTooltip="EPIC TM SHARD: Use 20 of this Shards to synthesize one Epic TM." src="{{ urlImage }}tmshard.png" />
       </div>
      </div>
</div>
