.type{
  padding: 3px 6px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin:2px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: .9em!important;
}

.type:hover{
  filter: brightness(1.5);
  cursor: pointer;
  color:black;
}

.stats {
  margin-top:20px;
  margin-bottom: 28px;
}
.stats span {
  margin: auto 10px;
}

.row {
  padding-bottom: 55px;
  margin: 0 auto;
}

.recommend {
  padding-bottom: 5px!important;
}

h2 {
  margin: 40px auto 20px auto;
}

h2:first-child {
  margin: auto;
}

h4:not(.index) {
  margin: 30px auto;
}

.victory {
  max-width: 100%;
  border-radius: 5%;
  margin: 15px auto;
}

@media (max-width:600px) {
  .victory {
    margin: 5px auto;
  }
}

.col {
  margin-bottom: 10px;
}

iframe {
  width: 90%;
  margin: 15px auto;
}

.youtube {
  height:300px;
  max-width: 600px;
}


hr.separator {
	width:90%;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	border-radius:3px;
  margin: 40px auto;
}

a:hover {
  cursor: pointer;
}

ol {
  color: #ccc;
  list-style-type: none;
}

.index:not(li) {
  margin-top: 15px;
}

.index li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  padding: 12px 20px 10px 20px;
}

li p {
  font: 14px/1.5 Helvetica, sans-serif;
  padding-left: 30px;
  color: #555;
}

.pokemon {
  margin: auto 5px;
  width: 20%;
  max-width: 120px;
  margin-bottom: 15px;
}

.list {
  position: absolute;
  left: -25px;
  top: 10px;
}

.pokeball-list li {
    border-bottom: solid 1px #e2e6e8;
		background: url("../../../../../assets/images/guides/victory-road/pokeball.png") 0px 1.05em no-repeat;
    vertical-align: middle;
    min-height: 60px;
	}

  .pokeball-list li p {
    padding-left: 35px;
    padding-top: 12px;

  }

.tooltip {
  width: 90%;
  margin: 15px auto;
}

.tooltip img {
  margin: 4px 5px;
}

@media (max-width:680px) {
  .tooltip img {
    width: 18%;
  }
}

.tooltip img:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
