<div class="laboratory">
  <h3>Pokémon Laboratory</h3>
    <h4>Welcome Trainer!</h4>
      <blockquote>The Pokémon Laboratory <span class="bold">filters</span>
        Pokémon the way You want. Your Research starts here!
      </blockquote>

    <filtering-message></filtering-message>  <!-- While Filtering -->
    <lab-search></lab-search>  <!-- Types + Stats + Evolutions + Animated DIV -->
    <!-- Only on Mobile   -->
    <filtering-message class="hide-on-med-and-up"></filtering-message>
    <br>
</div>
