.type {
  padding: 6px 10px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  margin: 15px 5px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: 1.1em!important;
}

.type:hover{
  filter: brightness(1.5);
  cursor: pointer;
  color:black;
}
