<app-loading *ngIf="!filteredpokeItemList"></app-loading>

<div class="pokeItems" *ngIf="filteredpokeItemList">
    <div class="sticky">  <!-- Sticky Search Bar -->
          <div class="input-field center top">  <!-- Key Up Event -->
              <input type="text" name="searchValue"
              (keyup)="onKeyUp($event)" [(ngModel)]="searchValue"
              placeHolder="Search a Pokémon Held Item...">
          </div>
    </div>

    <div class="row center pokeItem animated slideInUp">  <!-- Held Item Card -->
      <span><img (click)="navigate(pokeItem._id)" *ngFor="let pokeItem of filteredpokeItemList"
        class="picture" matTooltip="{{pokeItem.item}}" src="{{urlImage}}{{pokeItem.picture}}.png"/></span>
    </div>
</div>
