
  <div class="row" id="top">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <form #addPokemonForm="ngForm" (ngSubmit)="addPokemon(addPokemonForm)">
              <div class="row">

                <input type="hidden" name="_id"
                #_id="ngModel" [(ngModel)]="admin.selectedPokemon._id">

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Name</span>
                  <input type="text" name="name"
                  #name="ngModel" [(ngModel)]="admin.selectedPokemon.name"
                  placeholder="Enter Pokémon name">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Nº</span>
                  <input type="number" name="pokedex"
                  #pokedex="ngModel" [(ngModel)]="admin.selectedPokemon.pokedex"
                  placeholder="Enter Pokedex Nº">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Grade</span>
                  <input type="text" name="grade"
                  #grade="ngModel" [(ngModel)]="admin.selectedPokemon.grade"
                  placeholder="Enter the Pokémon Grade">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Picture</span>
                  <input type="text" name="picture"
                  #picture="ngModel" [(ngModel)]="admin.selectedPokemon.picture"
                  placeholder="Enter the Pokémon Picture">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Evolution</span>
                  <input type="text" name="evolution"
                  #evolution="ngModel" [(ngModel)]="admin.selectedPokemon.evolution"
                  placeholder="Enter the Pokémon Evolution">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Type</span>
                  <input type="text" name="type"
                  #type="ngModel" [(ngModel)]="admin.selectedPokemon.type"
                  placeholder="Enter the Pokémon Type">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Type 2</span>
                  <input type="text" name="type2"
                  #type2="ngModel" [(ngModel)]="admin.selectedPokemon.type2"
                  placeholder="Enter the Pokémon Type 2">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Attack TYPE</span>
                  <input type="text" name="attack"
                  #attack="ngModel" [(ngModel)]="admin.selectedPokemon.attack"
                  placeholder="Enter the Pokémon Attack TYPE">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Legendary?</span>
                  <input type="text" name="legend"
                  #legend="ngModel" [(ngModel)]="admin.selectedPokemon.legend"
                  placeholder="Legendary?">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Description</span>
                  <input type="text" name="description"
                  #description="ngModel" [(ngModel)]="admin.selectedPokemon.description"
                  placeholder="Pokémon Description">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Family</span>
                  <input type="text" name="family"
                  #family="ngModel" [(ngModel)]="admin.selectedPokemon.family"
                  placeholder="Pokémon Family">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Ability</span>
                  <input type="text" name="ability"
                  #ability="ngModel" [(ngModel)]="admin.selectedPokemon.ability"
                  placeholder="Pokémon Ability">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Best Ability</span>
                  <input type="text" name="bability"
                  #bability="ngModel" [(ngModel)]="admin.selectedPokemon.bability"
                  placeholder="Pokémon Best Ability">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Item</span>
                  <input type="text" name="item"
                  #item="ngModel" [(ngModel)]="admin.selectedPokemon.item"
                  placeholder="Pokémon Item">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Item Picture</span>
                  <input type="text" name="item_picture"
                  #item_picture="ngModel" [(ngModel)]="admin.selectedPokemon.item_picture"
                  placeholder="Pokémon Item Picture">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Item 2</span>
                  <input type="text" name="item2"
                  #item2="ngModel" [(ngModel)]="admin.selectedPokemon.item2"
                  placeholder="Pokémon Item 2">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Item 2 Picture</span>
                  <input type="text" name="item2_picture"
                  #item2_picture="ngModel" [(ngModel)]="admin.selectedPokemon.item2_picture"
                  placeholder="Pokémon Item 2 Picture">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Good 1</span>
                  <input type="text" name="good1"
                  #good1="ngModel" [(ngModel)]="admin.selectedPokemon.good1"
                  placeholder="Pokémon Good 1">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Good 2</span>
                  <input type="text" name="good2"
                  #good2="ngModel" [(ngModel)]="admin.selectedPokemon.good2"
                  placeholder="Pokémon Good 2">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Good 3</span>
                  <input type="text" name="good3"
                  #good3="ngModel" [(ngModel)]="admin.selectedPokemon.good3"
                  placeholder="Pokémon Good 3">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Bad 1</span>
                  <input type="text" name="bad1"
                  #bad1="ngModel" [(ngModel)]="admin.selectedPokemon.bad1"
                  placeholder="Pokémon Bad 1">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Bad 2</span>
                  <input type="text" name="bad2"
                  #bad2="ngModel" [(ngModel)]="admin.selectedPokemon.bad2"
                  placeholder="Pokémon Bad 2">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Bad 3</span>
                  <input type="text" name="bad3"
                  #bad3="ngModel" [(ngModel)]="admin.selectedPokemon.bad3"
                  placeholder="Pokémon Bad 3">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Move 1</span>
                  <input type="text" name="move1"
                  #move1="ngModel" [(ngModel)]="admin.selectedPokemon.move1"
                  placeholder="Pokémon Move 1">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Move 2</span>
                  <input type="text" name="move2"
                  #move2="ngModel" [(ngModel)]="admin.selectedPokemon.move2"
                  placeholder="Pokémon Move 2">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Move 3</span>
                  <input type="text" name="move3"
                  #move3="ngModel" [(ngModel)]="admin.selectedPokemon.move3"
                  placeholder="Pokémon Move 3">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Move 4</span>
                  <input type="text" name="move4"
                  #move4="ngModel" [(ngModel)]="admin.selectedPokemon.move4"
                  placeholder="Pokémon Move 4">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Z Move</span>
                  <input type="text" name="zmove"
                  #zmove="ngModel" [(ngModel)]="admin.selectedPokemon.zmove"
                  placeholder="Pokémon Z Move">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Nature</span>
                  <input type="text" name="nature"
                  #nature="ngModel" [(ngModel)]="admin.selectedPokemon.nature"
                  placeholder="Pokémon Nature">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Nature 2</span>
                  <input type="text" name="nature2"
                  #nature2="ngModel" [(ngModel)]="admin.selectedPokemon.nature2"
                  placeholder="Pokémon Nature 2">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon HP</span>
                  <input type="number" name="HP" max="255"
                  #HP="ngModel" [(ngModel)]="admin.selectedPokemon.HP"
                  placeholder="Enter Pokémon HP">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon ATK</span>
                  <input type="number" name="ATK" max="255"
                  #ATK="ngModel" [(ngModel)]="admin.selectedPokemon.ATK"
                  placeholder="Enter Pokémon ATK">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon DEF</span>
                  <input type="number" name="DEF" max="255"
                  #DEF="ngModel" [(ngModel)]="admin.selectedPokemon.DEF"
                  placeholder="Enter Pokémon DEF">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon S.ATK</span>
                  <input type="number" name="SATK" max="255"
                  #SATK="ngModel" [(ngModel)]="admin.selectedPokemon.SATK"
                  placeholder="Enter Pokémon S.ATK">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon S.DEF</span>
                  <input type="number" name="SDEF" max="255"
                  #SDEF="ngModel" [(ngModel)]="admin.selectedPokemon.SDEF"
                  placeholder="Enter Pokémon S.DEF">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon SPD</span>
                  <input type="number" name="SPD" max="255"
                  #SPD="ngModel" [(ngModel)]="admin.selectedPokemon.SPD"
                  placeholder="Enter Pokémon SPD">
                </div>

                <div class="input-field col s12  m6 l6">
                  <span class="helper-text bold">Pokémon SS</span>
                  <input type="number" name="SS"
                  #SS="ngModel" [(ngModel)]="admin.selectedPokemon.SS"
                  placeholder="Enter Pokémon SS">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Effort HP</span>
                  <input type="number" name="ef_HP" max="4"
                  #ef_HP="ngModel" [(ngModel)]="admin.selectedPokemon.ef_HP"
                  placeholder="Enter Pokémon Effort HP">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Effort ATK</span>
                  <input type="number" name="ef_ATK" max="4"
                  #ef_ATK="ngModel" [(ngModel)]="admin.selectedPokemon.ef_ATK"
                  placeholder="Enter Pokémon Effort ATK">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Effort DEF</span>
                  <input type="number" name="ef_DEF" max="4"
                  #ef_DEF="ngModel" [(ngModel)]="admin.selectedPokemon.ef_DEF"
                  placeholder="Enter Pokémon Effort DEF">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Effort S.ATK</span>
                  <input type="number" name="ef_SATK" max="4"
                  #ef_SATK="ngModel" [(ngModel)]="admin.selectedPokemon.ef_SATK"
                  placeholder="Enter Pokémon Effort SATK">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Effort S.DEF</span>
                  <input type="number" name="ef_SDEF" max="4"
                  #ef_SDEF="ngModel" [(ngModel)]="admin.selectedPokemon.ef_SDEF"
                  placeholder="Enter Pokémon Effort S.DEF">
                </div>

                <div class="input-field col s12 m6 l6">
                  <span class="helper-text bold">Pokémon Effort SPD</span>
                  <input type="number" name="ef_SPD" max="4"
                  #ef_SPD="ngModel" [(ngModel)]="admin.selectedPokemon.ef_SPD"
                  placeholder="Enter Pokémon Effort SPD">
                </div>

                <div class="input-field col s12 m12 l12">
                  <span class="helper-text bold">Pokémon Info</span>
                  <input type="text" name="info"
                  #info="ngModel" [(ngModel)]="admin.selectedPokemon.info"
                  placeholder="Enter the Pokémon Info">
                </div>
                <br>
                <div class="card-action">
                  <div class="input-field col s12 m12 l12 center">
                    <button type="submit" class="btn blue">Save</button>
                    <button (click)="resetForm(addPokemonForm)"class="btn green">Clean</button>
                  </div>
                </div>

              </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row bottom">
    <div class="col s12 m12">
    <table class="centered striped">
      <thead>
        <th class="center">Name</th>
        <th class="center">Nº</th>
        <th class="center">Admin</th>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of admin.pokedex">
          <td>{{pokemon.name}}</td>
            <td>{{pokemon.pokedex}}</td>
          <td>
            <a href="admin/pokemon#top"><mat-icon (click)="updatePokemon(pokemon)">edit</mat-icon></a>
            <mat-icon (click)="deletePokemon(pokemon._id)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
