.effortBars {
  width: 75%;
  margin: 15px auto auto auto;
}

.header {
  margin-bottom: 5px;
}

.mat-card-title {
  font-size: .8em;
}

.pkm-img {
  position: absolute;
  right:20px;
  top:10px;
  width:56px;
}

.pkm-img:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.item {
  width: 60px;
}

.card {
  max-width: 300px;
  margin: 20px auto auto auto;
  min-height: 410px;
}

.family {
  position: absolute;
  bottom:12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.familiar {
  width: 30px;
  margin: 0 3px;
}

.top {
  margin-top: 35px;
}

mat-card-subtitle {
  text-align: left;
}

.header-image {
  background-image: url('../../../../../../assets/icons/effort.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 0;
}

/* PROGRESS BAR FOR IV ON RESOURCE PRC */

progress {

	border: solid 1px #373d40;
	width:85%;
	height: 25px;
	position:relative;
	border-radius: 5px;
}

progress:before {
  content: attr(data-label);
  text-align:center;
  font-weight:bold;
  font-size: 0.9em;
  vertical-align: middle;
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
  margin-top:1px;
}

.HP, .ATK, .DEF, .S\.ATK, .S\.DEF, .SPD {
  text-shadow: 1px 1px black;
}

.HP {
  color: #5f9839;
}

progress::-webkit-progress-bar {
	border-radius: 5px;
  background-color: #e7e7e7;
}

progress::-webkit-progress-value {
	border-radius: 5px;
	background: #96EF6F;
}
