<mat-card class="card">
  <img class="pkm-img" src="{{urlImage}}{{pokemon.picture}}.png"/>
  <mat-card-header class="header">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="bold">{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>Effort Points</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="top">

    <div class="effortBars">     <!-- Pokémon Effort Bars -->
      <progress class="HP" value="{{pokemon.ef_HP}}" max="4" data-label="HP"></progress> <!-- HP -->
      <progress class="ATK" value="{{pokemon.ef_ATK}}" max="4" data-label="ATK"></progress> <!-- ATK -->
      <progress class="DEF" value="{{pokemon.ef_DEF}}" max="4" data-label="DEF"></progress> <!-- DEF -->
      <progress class="S.ATK" value="{{pokemon.ef_SATK}}" max="4" data-label="S.ATK"></progress> <!-- S.ATK -->
      <progress class="S.DEF" value="{{pokemon.ef_SDEF}}" max="4" data-label="S.DEF"></progress> <!-- S.DEF -->
      <progress class="SPD" value="{{pokemon.ef_SPD}}" max="4" data-label="SPD"></progress> <!-- SPD -->
    </div>

    <div class="row center family">    <!-- Familiars -->
        <span *ngFor="let familiar of family" (click)="goPokemon(familiar)">
          <img class="familiar" matTooltip="{{familiar.name}}"
          src="{{urlImage}}{{familiar.picture}}.png"/>
        </span>
    </div>

  </mat-card-content>
</mat-card>
