span {
  margin: 0 2px;
}

.type{
  padding: 6px 10px;
  border-radius: 5px;
  color:white;
  font-weight: bold;
  margin:3px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: 1em!important;
}

.Any:not(.type) {
  background: none;
  color:grey;
}


.pokemon {
  width: 56px;
  height: 63px;
}

.pokemon:hover {
  cursor:pointer;
  filter: brightness(1.2);
}

.top {
  max-width: 880px;
  margin:25px auto 60px auto;
}
