span {
  margin: 0 2px;
}

.type{
  padding: 6px 10px;
  border-radius: 5px;
  color:white;
  font-weight: bold;
  margin:3px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: 1em!important;
}

.Any:not(.type) {
  background: none;
  color:grey;
}

.potion {
  margin: 25px;
}

.potion:hover {
  cursor: pointer;
  filter:brightness(1.5);
}


.pokemon {
  width: 56px;
  height: 63px;
}

.pokemon:hover {
  cursor:pointer;
  filter: brightness(1.2);
}

.lost {
position: absolute;
text-align: center;
top:45%;
left:55%;
transform: translate(-50%, -50%);
margin-top: 10px;
width: 65%;
}

@media (max-width: 600px){
  .lost {
  left:50%;
  margin-left: 0;
  }
}

.top {
  max-width: 880px;
  margin:25px auto auto auto;
}

.loading {
position: absolute;
text-align: center;
top:45%;
left:56%;
transform: translate(-50%, -50%);
margin-top: 10px;
}

.responsive-img {
  min-width: 90%;
}

@media (max-width: 1000px){
  .responsive-img {
    min-width: 130%;
    margin-left: -35px;
  }

  .loading {
    top:45%;
    left:53%;
  }

  .lost {
    top:50%;
  }
}
