span {
  margin: 0 2px;
}

.type{
  padding: 6px 10px;
  border-radius: 5px;
  color:white;
  font-weight: bold;
  margin:3px;
  border: 1px solid black;
  display: inline-grid;
  width: auto;
  font-size: 1em!important;
}

.potion {
  margin: 25px;
}

.potion:hover {
  cursor: pointer;
  filter:brightness(1.5);
}

.material-icons.md-48 { font-size: 48px; }

.pokemon {
  width: 56px;
  height: 63px;
}

.pokemon:hover {
  cursor:pointer;
  filter: brightness(1.2);
}

.lost {
position: absolute;
text-align: center;
top:45%;
left:55%;
transform: translate(-50%, -50%);
margin-top: 10px;
width: 70%;
}

@media (max-width: 600px){
  .lost {
  left:50%;
  margin-left: 0;
  }
}

.top {
  margin-top: 25px;
}
